.bar_0{
    width: 0%;
}
.bar_1{
    width: 1%;
}
.bar_2{
    width: 2%;
}
.bar_3{
    width: 3%;
}
.bar_4{
    width: 4%;
}
.bar_5{
    width: 5%;
}
.bar_6{
    width: 6%;
}
.bar_7{
    width: 7%;
}
.bar_8{
    width: 8%;
}
.bar_9{
    width: 9%;
}
.bar_10{
    width: 10%;
}
.bar_11{
    width: 11%;
}
.bar_12{
    width: 12%;
}
.bar_13{
    width: 13%;
}
.bar_14{
    width: 14%;
}
.bar_15{
    width: 15%;
}
.bar_16{
    width: 16%;
}
.bar_17{
    width: 17%;
}
.bar_18{
    width: 18%;
}
.bar_19{
    width: 19%;
}
.bar_20{
    width: 20%;
}
.bar_21{
    width: 21%;
}
.bar_22{
    width: 22%;
}
.bar_23{
    width: 23%;
}
.bar_24{
    width: 24%;
}
.bar_25{
    width: 25%;
}
.bar_26{
    width: 26%;
}
.bar_27{
    width: 27%;
}
.bar_28{
    width: 28%;
}
.bar_29{
    width: 29%;
}
.bar_30{
    width: 30%;
}
.bar_31{
    width: 31%;
}
.bar_32{
    width: 32%;
}
.bar_33{
    width: 33%;
}
.bar_34{
    width: 34%;
}
.bar_35{
    width: 35%;
}
.bar_36{
    width: 36%;
}
.bar_37{
    width: 37%;
}
.bar_38{
    width: 38%;
}
.bar_39{
    width: 39%;
}
.bar_40{
    width: 40%;
}
.bar_41{
    width: 41%;
}
.bar_42{
    width: 42%;
}
.bar_43{
    width: 43%;
}
.bar_44{
    width: 44%;
}
.bar_45{
    width: 45%;
}
.bar_46{
    width: 46%;
}
.bar_47{
    width: 47%;
}
.bar_48{
    width: 48%;
}
.bar_49{
    width: 49%;
}
.bar_50{
    width: 50%;
}
.bar_51{
    width: 51%;
}
.bar_52{
    width: 52%;
}
.bar_53{
    width: 53%;
}
.bar_54{
    width: 54%;
}
.bar_55{
    width: 55%;
}
.bar_56{
    width: 56%;
}
.bar_57{
    width: 57%;
}
.bar_58{
    width: 58%;
}
.bar_59{
    width: 59%;
}
.bar_60{
    width: 60%;
}
.bar_61{
    width: 61%;
}
.bar_62{
    width: 62%;
}
.bar_63{
    width: 63%;
}
.bar_64{
    width: 64%;
}
.bar_65{
    width: 65%;
}
.bar_66{
    width: 66%;
}
.bar_67{
    width: 67%;
}
.bar_68{
    width: 68%;
}
.bar_69{
    width: 69%;
}
.bar_70{
    width: 70%;
}
.bar_71{
    width: 71%;
}
.bar_72{
    width: 72%;
}
.bar_73{
    width: 73%;
}
.bar_74{
    width: 74%;
}
.bar_75{
    width: 75%;
}
.bar_76{
    width: 76%;
}
.bar_77{
    width: 77%;
}
.bar_78{
    width: 78%;
}
.bar_79{
    width: 79%;
}
.bar_80{
    width: 80%;
}
.bar_81{
    width: 81%;
}
.bar_82{
    width: 82%;
}
.bar_83{
    width: 83%;
}
.bar_84{
    width: 84%;
}
.bar_85{
    width: 85%;
}
.bar_86{
    width: 86%;
}
.bar_87{
    width: 87%;
}
.bar_88{
    width: 88%;
}
.bar_89{
    width: 89%;
}
.bar_90{
    width: 90%;
}
.bar_91{
    width: 91%;
}
.bar_92{
    width: 92%;
}
.bar_93{
    width: 93%;
}
.bar_94{
    width: 94%;
}
.bar_95{
    width: 95%;
}
.bar_96{
    width: 96%;
}
.bar_97{
    width: 97%;
}
.bar_98{
    width: 98%;
}
.bar_99{
    width: 99%;
}
.bar_100{
    width: 100%;
}
.bar_101{
    width: 101%;
}
.bar_102{
    width: 102%;
}
.bar_103{
    width: 103%;
}
.bar_104{
    width: 104%;
}
.bar_105{
    width: 105%;
}
.bar_106{
    width: 106%;
}
.bar_107{
    width: 107%;
}
.bar_108{
    width: 108%;
}
.bar_109{
    width: 109%;
}
.bar_110{
    width: 110%;
}
.bar_111{
    width: 111%;
}
.bar_112{
    width: 112%;
}
.bar_113{
    width: 113%;
}
.bar_114{
    width: 114%;
}
.bar_115{
    width: 115%;
}
.bar_116{
    width: 116%;
}
.bar_117{
    width: 117%;
}
.bar_118{
    width: 118%;
}
.bar_119{
    width: 119%;
}
.bar_120{
    width: 120%;
}
.bar_121{
    width: 121%;
}
.bar_122{
    width: 122%;
}
.bar_123{
    width: 123%;
}
.bar_124{
    width: 124%;
}
.bar_125{
    width: 125%;
}
.bar_126{
    width: 126%;
}
.bar_127{
    width: 127%;
}
.bar_128{
    width: 128%;
}
.bar_129{
    width: 129%;
}
.bar_130{
    width: 130%;
}
.bar_131{
    width: 131%;
}
.bar_132{
    width: 132%;
}
.bar_133{
    width: 133%;
}
.bar_134{
    width: 134%;
}
.bar_135{
    width: 135%;
}
.bar_136{
    width: 136%;
}
.bar_137{
    width: 137%;
}
.bar_138{
    width: 138%;
}
.bar_139{
    width: 139%;
}
.bar_140{
    width: 140%;
}
.bar_141{
    width: 141%;
}
.bar_142{
    width: 142%;
}
.bar_143{
    width: 143%;
}
.bar_144{
    width: 144%;
}
.bar_145{
    width: 145%;
}
.bar_146{
    width: 146%;
}
.bar_147{
    width: 147%;
}
.bar_148{
    width: 148%;
}
.bar_149{
    width: 149%;
}
.bar_150{
    width: 150%;
}
.bar_151{
    width: 151%;
}
.bar_152{
    width: 152%;
}
.bar_153{
    width: 153%;
}
.bar_154{
    width: 154%;
}
.bar_155{
    width: 155%;
}
.bar_156{
    width: 156%;
}
.bar_157{
    width: 157%;
}
.bar_158{
    width: 158%;
}
.bar_159{
    width: 159%;
}
.bar_160{
    width: 160%;
}
.bar_161{
    width: 161%;
}
.bar_162{
    width: 162%;
}
.bar_163{
    width: 163%;
}
.bar_164{
    width: 164%;
}
.bar_165{
    width: 165%;
}
.bar_166{
    width: 166%;
}
.bar_167{
    width: 167%;
}
.bar_168{
    width: 168%;
}
.bar_169{
    width: 169%;
}
.bar_170{
    width: 170%;
}
.bar_171{
    width: 171%;
}
.bar_172{
    width: 172%;
}
.bar_173{
    width: 173%;
}
.bar_174{
    width: 174%;
}
.bar_175{
    width: 175%;
}
.bar_176{
    width: 176%;
}
.bar_177{
    width: 177%;
}
.bar_178{
    width: 178%;
}
.bar_179{
    width: 179%;
}
.bar_180{
    width: 180%;
}
.bar_181{
    width: 181%;
}
.bar_182{
    width: 182%;
}
.bar_183{
    width: 183%;
}
.bar_184{
    width: 184%;
}
.bar_185{
    width: 185%;
}
.bar_186{
    width: 186%;
}
.bar_187{
    width: 187%;
}
.bar_188{
    width: 188%;
}
.bar_189{
    width: 189%;
}
.bar_190{
    width: 190%;
}
.bar_191{
    width: 191%;
}
.bar_192{
    width: 192%;
}
.bar_193{
    width: 193%;
}
.bar_194{
    width: 194%;
}
.bar_195{
    width: 195%;
}
.bar_196{
    width: 196%;
}
.bar_197{
    width: 197%;
}
.bar_198{
    width: 198%;
}
.bar_199{
    width: 199%;
}
.bar_200{
    width: 200%;
}